body{
    width: 100%;
}
.container{
    margin: auto;
    width: 1192px;
    height: 736px;
}
table{
    margin: auto;
    width: 1143px;
    height: 680px;
    text-align: center;
    border-top: 24px #3a4965 solid;
    border-right: 30px #3a4965 solid;
    border-bottom: 32px #3a4965 solid;
    border-left: 22px #3a4965 solid;
    font-family: 'Arimo', sans-serif;
    border-collapse:collapse;
}
thead{
    font-family: '﻿Arimo-Bold', sans-serif;
}
.tr-top2{
    height: 86px;
}
.price{
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    width: 277px;
    height: 86px;
}
.cell1{
    font-size: 60pt;
    color: rgba(72, 72, 72, 255);
    text-align: right;
    border: none;
    background: white;
    height: 86px;
}
.cell2{
    font-size: 24pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    border: none;
    background: white;
    padding-bottom: 5px;
    vertical-align: bottom;
}
.cell3{
    font-size: 15pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    border: none;
    background: white;
    padding-bottom:7px;
    vertical-align: baseline;
}
.top1{
    font-size: 18pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
.top2{
    font-size: 26pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
sup{
    font-size: 24pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
sub{
    font-size: 18pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
}
.col1{
    width: 310px;
}
.td-top{
    /*height: 156px;*/
}
.td-top2{
    background: #89c331;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
}
.td-top3{
    background: #f04a56;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
}
.td-top4{
    background: #20807c;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
}
i{
    margin-right: 14px;
}
th{
    vertical-align: middle;
}
td{
    vertical-align: middle;
    border-right: 2px solid #00000027;
}
tbody tr:nth-child(even){
    background: #f2f2f2;
}
tbody tr:nth-child(odd){
    background: #e3e3e3;
}
tfoot{
    height: 196px;
}
.contact{
    width: 310px;
    background-color: #dddddd;
}
.buynow1{
    background-color: #eeeeee;
}
.buynow2{
        background-color: #f4f4f4;
    }
.buynow3{
    background-color: #eeeeee;
}
button{
    width: 192px;
    height: 49px;
    color: white;
    border: none;
    border-radius: 7px;

}
.contact{
    padding: 30px 59px;
}
.btn1{
    background: linear-gradient(#484848 80%, #404040 20%)
}
.btn2{
    background: linear-gradient(#89c331 80%, #79b027 20%)
}
.btn3{
    background: linear-gradient(#f04a56 80%, #df3a46 20%)
}
.btn4{
    background: linear-gradient(#20807c 80%, #16736f 20%)
}
button:hover{
    background:ghostwhite;
    color:black;
    border: 1px black solid;

}