html
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0d43fa;
    height: 50vh;
    width: 100vw;
}
.links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: #0B1022;

}
a{
    color: whitesmoke;
    text-decoration:none;
    margin-left: 20px;
}
main{
    display: flex;
    width: 100vw;
}
aside{
    width: 35%;
    background: #ababab;
    display: flex;
    flex-direction:column;
}
article{
    width: 65%;
    background: #00bfa5;
    display: flex;
    flex-direction:column;
}
.image{
    background:slategrey;
    height:100px;
    width:90%;
    margin: 20px;

}