html, body{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
}
header{
    width: 1900px;
    height: 70px;
}
.top-header-nav {
    background: #1d2124;
    height: 70px;
    width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-logo-header{
    display:flex;
    align-items:center;
}
.top-logo-name{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    justify-self: flex-start;
}
header a{
    text-decoration: none;
    color: white;
}
.top-nav>a{
    margin-left: 37px;
    text-transform: uppercase;
    font-family: ﻿﻿AdobeInvisFont;
    font-size: 15pt;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}
.top-logo, .top-search{
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    background: black;
    display:flex;
    align-items: center;
    justify-content: center;
}
    /*страница с кнопками, еще нужно добавить фон с паралаксом. но это на последней части*/
.first-page{
    width: 1900px;
    height: 413px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.header-h2{
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier;
    font-size: 27pt;
    color:black;
    text-align: center;
}
.subscribe, .article{
    box-sizing:border-box;
    width:177px;
    height:55px;
    border:none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 18pt;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top:44px;
}
.subscribe{
    background: #89ca62;
    margin-right:20px;
}
.article{
    background: #14b9d5;
}
/*вторая страница, тут делаю флекс-блок в нем Н2 и блок с картинками. Блок с картинками тоже флекс-бокс. Внутри 3 блока по 2 картинки. тоже флекс боксы с картинкой и ссылкой*/
.second-page{
    width:1900px;
    height:1030px;
    background-color:#f2f2f2;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.header-second-page{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    margin-bottom:50px;
}
.posts a{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 18pt;
    color: rgba(53, 58, 61, 255);
    text-decoration:none;
}
.post-text{
    box-sizing:border-box;
    width:370px;
    height:61px;
    border:none;
    background:white;
    text-align: center;
    padding-top:20px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 18pt;
    color: rgba(53, 58, 61, 255);
    text-decoration:none;
}
.posts{
    display:flex;
}
.column1, .column2, .column3{
    display:flex;
    flex-direction: column;
}
.post2, .post5{
    margin:30px;
}
.post1, .post4, .post3, .post6{
    margin-top:30px;
    margin-bottom:30px;
}
/*третья страница. задача все блоки разделить гридом*/
.third-page{
    height:590px;
}
.third-page-grid{
    width:1900px;
    height:590px;
    display:grid;
    background:blue;
    grid-template-columns:repeat(4, 15%);
    grid-template-rows: 30% 5% 30%;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items: center;
    grid-template-areas:
            "grid-item1 grid-item1 grid-item1 grid-item1"
            "grid-item2 grid-item2 grid-item2 grid-item2"
            "grid-item3 grid-item4 grid-item5 grid-item6"
}
.grid-item1{
    grid-area: grid-item1;
}
.grid-item2{
    grid-area:grid-item2;
}
.grid-item3{
    grid-area:grid-item3;
}
.grid-item4{
    grid-area:grid-item4;
}
.grid-item5{
    grid-area:grid-item5;
}
.grid-item6{
    grid-area:grid-item6;
}
.grid-item1{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 32pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.top-rated{
    width:1900px;
    height:381px;
}
.h2-top-rated{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    margin-top:53px;
    margin-bottom:53px;
}
.grid-top-rated{
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows:1fr;
}