body{
    background-color: #16a085;
    color: #dbdbdb;
    font-family: Verdana;
}
.test-mouse{
    border: 2px red solid;
    /*display: inline;*/
    /*margin: auto;*/
    /*width: 200px;*/
    /*text-align: center;*/
}
.test-mouse:hover{
    cursor: pointer;
}
.kjh>li:nth-child(2n){
    color: red;
}
.test-mouse>h2:first-letter{
    color: orangered;
}