/*задал размеры блоку контейнер, но у боди появились маржины???*/
body{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
}
.container{
    background-image: url("../images/background@1X.png");
    margin: 0 auto;
    padding-left: 157px;
    padding-right: 150px;
}
a{
    text-decoration:none;
}
.top-header{
    padding-top: 47px;
}
.header-logo{
    float:left;
    width: 166px;
    height: 44px;
    background-image: url("../images/logo@1X.png");
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
}
.header-logo:hover{
    color: #f26522;
    background-image: url("../images/logo-orange@1X.png")
}
.milan{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    font-size: 20pt;
}
.holiday{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    font-size: 14pt;
}
.header-contact{
    display: inline-block;
}
.header-contact{
    float: right;
    text-align: right;
}
/*задал шрифт цвет и тд*/
.mail{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
}
.tel{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
}

/*задал размер и цвет шрифтам*/
main{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    /*text-align: center;*/
}
/*задал свойство блока спану и расположение текта по центру*/
main span{
    display: block;
    text-align: center;
}
.block-images-top{
    display: inline-block;
    padding-top: 47px;
}
img{
    border-left:3px solid;
    border-right:3px solid;
    border-image: linear-gradient(blue, red, yellow, green) 1 100%;
}
/*поставил картинки в ряд и последней присвоил строчно-блочные свойства*/
.image1{
    float: left;
    position: relative;
    width: 307px;
    height: 200px;

}
.image1 a {
    text-decoration: none;
    color: white;
}
.image1 a:hover{
    color: #f26522;
}
.block{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;
}
.image1:hover .block{
    display: block;
    color: #f26522;
}
.block a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
.image2{
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    width: 308px;
    height: 200px;
    position: relative;

}
.image2 a {
    text-decoration: none;
    color: white;
}
.image2 a:hover{
    color: #f26522;
}
.block2{
    position: absolute;
    left:60px;
    bottom:0;
    right:60px;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;

}
.image2:hover .block2{
    display: block;
    color: #f26522;
}
.block2 a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
.image3{
    display: inline-block;
    width: 307px;
    height: 200px;
    position: relative;
}
.image3 a {
    text-decoration: none;
    color: white;
}
.image3 a:hover{
    color: #f26522;
}
.block3{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;

}
.image3:hover .block3{
    display: block;
    color: #f26522;
}
.block3 a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
.image4{
    float: left;
    padding-top:50px;
    position: relative;
    width: 307px;
    height: 200px;

}
.image4 a {
    text-decoration: none;
    color: white;
}
.image4 a:hover{
    color: #f26522;
}
.block4{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;
}
.image4:hover .block4{
    display: block;
    color: #f26522;
}
.block4 a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
.image5{
    float: left;
    padding-top:50px;
    padding-right: 60px;
    padding-left: 60px;
    width: 307px;
    height: 201px;
    position: relative;
}
.image5 a {
    text-decoration: none;
    color: white;
}
.image5 a:hover{
    color: #f26522;
}
.block5{
    position: absolute;
    left:60px;
    bottom:0;
    right:60px;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;

}
.image5:hover .block5{
    display: block;
    color: #f26522;
}
.block5 a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
.image6{
    display: inline-block;
    padding-top: 50px;
    width: 308px;
    height: 201px;
    position: relative;
}
.image6 a {
    text-decoration: none;
    color: white;
}
.image6 a:hover{
    color: #f26522;
}
.block6{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    top:auto;
    display:none;
    background: #f26522;
    height: 63px;

}
.image6:hover .block6{
    display: block;
    color: #f26522;
}
.block6 a{
    text-decoration: none;
}
.from-price {
    display: inline-block;
}
.from{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
}
.price{
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 21px;
    float: left;
}
.details{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    padding-top: 15px;
    padding-right: 40px;
}
.details::after{
    content: '\00BB';
}
/*задал условия для шрифта в футере*/
.copyright{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    margin: 0;
}
/*добавил спецсимвол с помощью псевдоэлемента ::before, для добавления символа используем 16-чный код спецсимвола без &#x и вместо него "\"*/
.copyright::before{
    content: '\A9';
}