html, body {
    width: 100%;
    margin: 0px;
}

body {

    /*background-color: #000;*/
    /*min-height: 720px;*/
}

.container {
    background-image: url('../img/rana-sawalha-364253-unsplash@1X (1).png');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container header {
    background-color: black;
    height: 56px;
    opacity: 0.41;
}

.container .login-wrapper {
    position: relative;
}

.container .form-wrapper {
    background-color: #fff;
    position: absolute;
}
