html, body{
    margin: 0 auto;
}
.container{
    background-color: #0B1022;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header{
    height: 60px;
    background: rgba(0,0, 0, 0.41);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather Sans', sans-serif;
    position:sticky;
    top:0;
}
header a{
    text-decoration: none;
    color:white;
}
.header-logo{
    margin-left: 70px;
}
.logo1,.logo2{
    font-size:14pt;
}
.header-nav{
    font-size:14pt;
    margin-right:70px;
}
.header-nav a{
    margin-left: 50px;
}
.header-nav a:hover{
    border-top: 2px solid orange;

}
main{
    text-align: center;
    color:white;
    /*text-decoration:underline;*/
}
.first-page{
    /*height:400px;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
p{
    font-size:16pt;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size:44pt;
    font-family: 'Poppins', sans-serif;
}