*{
    box-sizing: border-box;}
.container{
    position: relative;
    background-image: url('../img/rana-sawalha-364253-unsplash@1X.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    min-height: 912px;
    font-family: Sans-Serif;
}
header{
    height: 56px;
    background: rgba(0,0, 0, 0.41);
    text-decoration: none;
}
header a{
    text-decoration: none;
    color: #ffffff;
}
.header-logo{
    font-family: sans-serif;
    font-size: 20pt;
    text-align: left;
    display: inline-block;
    float: left;
    margin-top: 9px;
    margin-left: 88px;
    font-weight: bold;
}
.header-logo a:hover{
    color: #39a46c;
}
.header-nav{
    display: inline-block;
    float: right;
    margin-right: 75px;
    margin-top:15px;
}
.icons, .welcome{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: #ffffff;
    padding-left: 25px;
}
.icons{
    border-right: rgba(255, 255, 255, 0.5) 1px solid;
}

.welcome>a{
    color: #39a46c;
}
.calendar{
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -3px -25px;
    transform: scale(1);
    display: inline-block;
    margin-right: 25px;
}
.calendar:hover{
    width: 19px; height: 19px;
    background: url('../img/css_sprites.png') -3px -50px;
    transform: scale(1);
}
.forum{
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -3px -101px;
    transform: scale(1);
    display: inline-block;
    margin-right: 25px;
}
.forum:hover{
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -3px -127px;
    transform: scale(1);
}
.journey{
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -3px -153px;
    transform: scale(1);
    display: inline-block;
    margin-right: 25px;
}
.journey:hover{
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -3px -75px;
    transform: scale(1);
}


/*добавил размеры для формы*/
.wrapper{
    position: absolute;
    background-color: #fff;
    border-radius: 13px;
    width: 444px;
    height: auto;
    box-sizing: border-box;
    left: 34%;
    top: 15%;
    padding: 0 60px;
}
h2{
    font-size: 20pt;
    display: inline-block;
    font-family: Sans-Serif;
    padding-top: 29px;
}
.wrapper::before{
    content:url("../img/shape@1X.png");
    position: absolute;
    top: 33px;
    left: 0;
}
.login{
    float: right;
    padding-top: 37px;
    text-decoration: none;
    color: rgba(60, 184, 120, 255);
    font-family: Sans-Serif;
    font-size: 14pt;
}
.social-media{
    padding: 17px 0 37px;
}
.facebook-button,.google-button{
    border-radius: 4px;
    border:none;
    width: 157px;
    height: 46px;
    text-align: center;

}
.facebook-button{
    background-color:#305db8;
}
.google-button{
    background-color:#df4a32;
    float: right;
}
.facebook-button>a ,.google-button>a{
    text-decoration: none;
    font-family: inherit;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border-left: #01010130 1px solid;
    padding-left:10px;
}
.social-media>a{
    background-image: url("../img/css_sprites (1).png");
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;

}
.facebook{
    width: 10px;
    height: 20px;
    background: url('../img/css_sprites (1).png') -10px -46px;
    display: inline-block;
    float: left;
    margin-left: 13px;

}
.google{
    width: 25px;
    height: 16px;
    background: url('../img/css_sprites (1).png') -10px -10px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 13px;
}
.or{
    display: inline-block;
    position: absolute;
    top: 137px;
    left: 204px;
    padding: 10px;
    background-color: white;
    opacity: 100%;
}
hr{
    margin-top: 0;
    margin-bottom: 21px;
}
.input-form{
    width: 100%;
    margin-bottom: 9px;
    height: 46px;
    padding: 18px 19px;
    border-radius: 4px;
    border: #eaeaea 1px solid;
    outline: none;
    color: #01010130;
}
.input-form:focus{
    box-shadow: 0 3px 8px #00000030;
    color: #010101;
}
#confirm_pass{
    margin-bottom: 20px;
}
.checkbox{
    margin-top: 20px;
}
.checkbox{
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin: 10px 0 0 20px;
}
.checkbox+label{
    position: relative;
    padding: 0 0 0 30px;
    margin-top:20px;
}
.checkbox+label::before{
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border: #eaeaea 1px solid;
    border-radius: 3px;
}
.checkbox+label::after{
    position: absolute;
    content: " ";
    width: 14px;
    height: 11px;
    left: 4px;
    top: 3px;
}
.checkbox:checked + label:before {
    content: url('../img/checkbox@1X.png');
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #3cb878;
    font-family: Sans-Serif;
}
.input-button{
    background-color: #3cb878;
    color: white;
    font-size: 16pt;
    border: none;
    display: block;
    width: 100%;
    height: 46px;
    margin-top: 30px;
    margin-bottom: 32px;
    font-family: Sans-Serif;
}
