html, body{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    font-family: san-serif;
    color: #FF9933;
}
.container{
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 450%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(200px) rotateX(15deg);
}
.text{
    animation: 30s linear 0s infinite text;
}
/*@keyframes text{*/
/*from {}*/
/*}*/
