hrml,
body{
    margin: 0 auto;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows:200px 50px auto 100px 200px;
}
.container>div{
    border: 1px black solid;
}
