body{
    width: 1280px;
    /*height: 1626px;*/
    margin: 0 auto;
    text-align: center;
}
header{
    overflow: hidden;
}
ul a{
    text-decoration-line: none;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, monospace;
    font-size: 18pt;
    color: #16a085;
}
li{
    display: inline-block;
}
.menu1{
    margin: auto 65px auto auto;
}
.menu2{
    margin: auto 70px auto auto;
}
.menu3{
    margin: auto 78px auto auto;
}
.menu4{
    margin: auto auto auto auto;
}
div{
    height: 790px;
    width: 1280px;
}
main{
    padding-top: 59px;
    padding-bottom: 94px;
    text-align: center;
    background: rgb(245, 246, 247);
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, monospace;
    font-size: 16pt;
    /*color: rgba(55, 55, 55, 255);*/
}
main h2{
    margin-top: 59px;
    margin-bottom: 34px;
    font-size: 22pt;
}
main p{
    width: 1059px;
    margin: auto;
}
.p-second{
    margin-top: 34px;
}
button{
    display: inline-block;
    border: none;
    padding: 23px 45px 18px 43px;
    margin-top: 41px;
    background: #16a085;
}
button a{
    text-decoration: none;
    color: white;
    font-family: GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, monospace;
    font-size: 12pt;
}
footer{
    padding-top: 47px;
    padding-bottom: 45px;
    text-align: right;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, monospace;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}

