html, body{
    background: #010101;
    width: 100%;
}
.container{
    margin: 0 auto;
}
.part1{
    width: 300px;
    height: 50px;
    border: 2px white solid;
    display: inline-block;
}
.part2{
    width: 10px;
    height: 50px;

}
.part2w{
    width: 10px;
    height: 10px;
    background: white;
    float:left;
    display: inline-block;

}
