/*
#wrapper{
    width: 100%;
    height: 400px;
    }
header{
    box-sizing: border-box;
    background-color: blue;
    border: 5px solid darkblue;
    float: left;
    !*width: 100px;*!
    !*margin-right: 100%;*!
    margin-bottom: 10px;
    display: block;
}
main{
    box-sizing: border-box;
    !*width: 150px;*!
    background-color: yellow;
    border: 10px solid saddlebrown;
    float: left;
   display: inline;
    margin-bottom: 10px;
}
footer{
    width: 300px;
    padding: 15px 20px;
    border: 1px solid red;
    box-sizing: content-box;
}
h2{
    background-color: yellow;
}
input{
    background-color: green;
}*/
/*Task 2*/
/*
.div1, .div2, .div3, .div4 {
    !*float: left;*!
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 3px solid #73AD21;
    display: inline-block;
}
.div1:hover,.div2:hover,.div3:hover,.div4:hover{
    border: 3px solid black;
}

.div1__img, .div2__img, .div3__img, .div4__img {
    width: 100px;
    height: 75px;
    !*background-size: cover;*!
    !*box-sizing: border-box;*!
    overflow: hidden;
}

img {
    max-width: 100%;
    height: 100%;
}*/
/*Task3*/
ul {
    height: 50px;
    width: 250px;
    background-color: black;
    padding: 0;
    overflow: hidden;

}

/*.active {
    background-color: red;
    display: block;
    height: 50px;
    width: 50px;
    overflow: auto;
}*/

/*li {
    float: left;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
}*/

li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
