body {
    padding: 0;
    margin: 0 auto;
}

header {
    background-color: lightseagreen;
    /*height: 300px;*/
    color: white;
}

.header__flex {
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__flex_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: black;
    height: 50px;
}
.header__flex_link>a {
    text-decoration: none;
    color: white;
}
.flex{
    display: flex;
    flex-direction: row;
}
main{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    width: 33%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aside__block,.main__block{
    background-color: grey;
    width: 90%;
    height:200px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}