html,
body{
    width:100%;
    margin: 0;
}
.container{
    display:flex;
    border: 1px #f26522 solid;
    padding: 5px;
    /*flex-direction: row;*/
    justify-content: space-between;
    /*flex-wrap:wrap;*/
    height:300px;
    align-items:flex-end;
}
.flex-item, .flex-item2{
    border: 1px #00af0e dashed;
    /*width: 150px;*/
}
/*.container2{*/
/*   display: inline-block;*/
/*    border: 1px #ee9900 solid;*/
/*    padding: 5px;*/
/*}*/
/*.flex-item2{*/
/*    width: 19%;*/
/*    float: left;*/
/*    box-sizing: border-box;*/
/*}*/
.item1{
    order:1;
    flex-grow: 1;
}
.item2{
    order:2;
    flex-grow: 1;

}
.item3{
    order:3;
    flex-grow: 1;
}
.item4{
    order:4;
    flex-grow: 6;
}
.item5{
    order:5;
    flex-grow: 1;

}