/*div{*/
/*    background: red;*/
/*    width: 200px;*/
/*    transition: all 2s;*/
/*    cursor: pointer;*/
/*}*/
/*div:hover{*/
/*    background: blue;*/
/*    width: 300px;*/
/*}*/
/* !*в этом блоке поставили transition который меняет размер и цвет блока при наведении курусора на блок, за*/
/* это отвечает псевдокласс :hover*!*/
html{
    background:black;
}

div{
    width: 800px;
    height: 100px;
}
.bell{
    background: gray;
}
/*.bell-inside{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    display: inline-block;*/

/*.bell:hover:before{*/
/*    content: counter(dlhgoshhkj);*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: darkgray;*/
/*}*/
.info{
    background: blue;
}
.ok{
    background: green;
}
.alert{
    background: yellow;
}
.delete{
    background: red;
}