.container{
    border: 1px red solid ;

}
header, main, footer{
    border: 1px gray solid;

}
aside{
    background-color: saddlebrown;

}
section{

}
section.container{
    height: 100%;
    float: left;
    width: 30px;
}