/*
.grid {
    display: grid;
    justify-items: center;
    !*align-items: center;*!
    grid-template-rows: 1fr 1fr 1fr 1fr;;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    grid-template-areas:
            "item1 item1 item1 item4"
            "item5 item5 item5 item4"
            "item9 item9 item11 item12"
}

.grid > div {
    font-size: 5vw;
    padding: .5em;
    background: green;
    text-align: center;
}
.item1 {
    grid-area: item1;
    float: left;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}

.item11 {
    grid-area: item11;
}

.item12 {
    grid-area: item12;
}
*/
.grid {
    display: grid;
    grid-template-columns: minmax(40px, 100px) minmax(400px, 1fr) 200px;
    grid-template-rows: 100px 1fr 80px;
    height: 100%;
}

.item1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.item5 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}