/*задал размеры для сайта и оцентровал страницу*/
body{
    width: 1280px;
    height: 1480px;
    margin: 0 auto;
}
/*этот блок повторяет предыдущее действие и перезатерает его
div.container{*/
/*    margin: 0 auto;*/
/*    width: 1280px;*/
/*}
*/
/*этот блок повторяет предыдущее действие и перезатерает его*/
/*меняю свойства логотипа, перед этим разделив лого на 2 части с помощью тега span в html*/
.logo span{
    /*font-family: Verdana;*/
    /*font-size: 50pt;*/
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 80pt;
    color: rgba(0, 0, 0, 255);
    text-align: center;
}
/*первая часть лого*/
.logo span.black{
    color: black;
}
/*вторая часть лого*/
.logo span.blue{
    color: #4bcaff;
}
/*отменяю подчеркивание ссылок ко всему сайту*/
a{
    text-decoration: none;
}
/*задал фон и маржу блоку, установил текст по центру*/
nav.nav-top{
    background-color: #35444f;
    margin-top: 48px;
    margin-bottom: 51px;
    text-align: center;
}
/*задал элементам списка блочно-строчные свойства, чтобы выровнять по горизонтали список и расположил тектст внутри по центру*/
.list-nav-top li{
    display: inline-block;
}
/*задал свойства ссылкам и задал свойства блока*/
.list-nav-top a{
    color: white;
    display: block;
    font-size: 20px;
    font-family: Verdana;
    padding: 26px 41px;
}
/*добавил изменение цвета при наведении курсора на ссылку + добавил границу и поменял цвет*/
.list-nav-top a:hover{
    background-color: #222f3a;
    border: 1px #818181 solid;
}
/*задал ширину блока main 100% от body*/
main{
    width: 100%;
}
/*задал aside и article свойство строчно-блочные, чтобы поставить их по горизонтали один за другим + задал размеры блока без учёта маржинов*/
aside, article{
    display: inline-block;
    box-sizing: border-box;
}
/*ширина блока 65% от  ширины main*/
article{
    width: 65%;
}
/* задал что ширина блока 30% от ширина main + выровнял блок по вертикали относительно main*/
aside{
    width: 30%;
    vertical-align: top;
}
/*задал границу для блока + установил ширину блока */
.div-links {
    border: 1px #35444f solid;
    width: 345px;
}
/*задал свойства ссылкам + добавил свойства блока */
.list-div-links a{
    color: #485863;
    display: block;
    /*font-family: Verdana;*/
    /*font-size: 24px;*/
    padding: 28px;
    text-align: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244pt;
    color: rgba(73, 88, 99, 255);
}
/*задал цвет фона при наведении на список*/
.list-div-links li:hover{
    background-color: #dbdbdb;
}
/*задал цвет для текста и оцентровал его по центру при наведении на список*/
.list-div-links a:hover{
    color: black;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244pt;
    color: rgba(53, 68, 79, 255);
}
/*задаю всем картинкам в блоке строчно-блочные свойства*/
.image-fon img{
    display: block;
}
/*делаю фоновый рисунок родутелем для картинки, которыя будет сверху !фоновая картинка шире чем блок, не знаю как сделать рамку!*/
div.image-fon{
    position: relative;
    /*border: 1px #35444f solid;*/
}
/*задаю картинке абсолютное чтобы ее можно было разместить на картинке-радителе + задаю к  оординаты для картинки но !не пойму откуда нужно считать! */
div.image-logo{
    position: absolute;
    top: 75px;
    right: 268px;
    bottom: 75px;
    left: 300px;
}
/*задал свойства всем р */
.text p{
    font-family: Verdana;
    font-size: 14pt;
}
/*задал маржины для текта*/
.text1{
    margin: 50px 35px 30px 35px;
}
.text2{
    margin: 30px 35px 50px 35px;
}
/*задал свойства для списка в футере + текст слева*/
.nav-footer{
    background-color: #b4b7ba;
    text-align: left;
    padding: 0;
}
/*задал сторочно-блочные свойства списку, чтобы расположить в строку слудующий елемент*/
.nav-footer ul{
    display: inline-block;
}
/*строчно-блочные свойства для списка, чтобы список распологался по горизонтали + маржины*/
.nav-footer li{
    display: inline-block;
    margin: 20px;
}
/*свойства для ссылок*/
.nav-footer a{
    color: #010101;
    font-size: 22px;
    font-family: Verdana;
}
/*свойства при наведении */
.nav-footer a:hover{
    color: #3181a6;
    text-decoration: underline;
}
/*свойства для текста правее меню ховере, назначил свойства строки*/
.copy-footer{
    display: inline;
    font-size: 20px;
    font-family: Verdana;
    /*i don't sure that this decision is correct*/
    margin-left: 200px;

}



