img{
    width: 300px;
    height: 300px;
}
.float-left{
    float: left;
}
.img-wrapper{
    border-radius: 5px;
    border: 1px black solid;
    margin-right: 10px;
    padding: 5px;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
footer{
    background-color: goldenrod;
    margin-top: 20px;

}
.clearfix{
    clear: both;
}
.left-aside{
    float: left;
    width: 30%;
}